@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cotta&family=Neuton:wght@400;700&display=swap');

@font-face {
    font-family: 'Cotta';
    src: url('./assets/fonts/cotta-free.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Erotique';
    src: url('./assets/fonts/ErotiqueAlternateTrial-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Erotique-Bold';
    src: url('./assets/fonts/ErotiqueAlternateTrial-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Neuton';
    src: url('./assets/fonts/Neuton-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neuton-Light';
    src: url('./assets/fonts/Neuton-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Fraunces-Light';
    src: url('./assets/fonts/Fraunces-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Fraunces-Regular';
    src: url('./assets/fonts/Fraunces-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@theme{
    --font-neuton: Neuton, "sans-serif";
    --font-erotique: Erotique, "sans-serif";
    --font-neuton-light: Neuton-Light, "sans-serif";
    --font-erotique-bold: Erotique-Bold, "sans-serif";
    --font-cotta: Cotta, "sans-serif";
    --font-fraunces-light: Fraunces-Light, "sans-serif";
    --font-fraunces: Fraunces-Regular, "sans-serif";
}
html, body, #root {
    height: 100%;
    margin: 0;
}